footer {
    text-align: center;
    .copyright, p {
        color: $grayFontColor;
        margin: 0.5rem;
    }
    .copyright a {
        border-bottom: 1px dotted;
    }
    span {
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }
    .social-links {
    	list-style: none;
    	padding: 0;
    	margin: 10px 0 10px;
    }
    .social-links li {
    	display: inline-block;
    	margin: 5px;
    }
    .social-links a {
    	width: 36px;
    	height: 36px;
    	display: block;
    	line-height: 35px;
    	text-align: center;
    	border: 1px solid rgba(0, 0, 0, 0.3);
        @include border-radius(3px);
    	color: rgba(0, 0, 0, 0.5);
    }
    .social-links a:hover {
    	border: 1px solid rgba(0, 0, 0, 0.7);
    	color: rgba(0, 0, 0, 0.9);
    }
    .links {
        list-style: none;
        padding: 0;
        margin: 10px 0 10px;
        li {
            display: inline-block;
            padding-right: 10px;
            padding-left: 10px;
            border-right: 1px solid;
            &:last-child {
                border-right: none;
            }
            a {
                text-decoration: none;
                &:hover, &:active, &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}
