@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('//fonts.googleapis.com/css?family=Varela+Round');

$primaryFont: 'Open Sans', sans-serif;
$headerFont: 'Varela Round', sans-serif;
$grayFontColor: #999999;
$whiteFontColor: #FFFFFF;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}